
.box {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.box > * {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
}

.nav4 {
    height: 45px;
}

.nav4 ul {
    position: fixed;
    z-index: 200;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
}

.nav4 li {
    border-top: 1px solid rgba(190, 190, 190, 1);
    border-left: 1px solid rgba(190, 190, 190, 1);
    height: 45px;
    /* width:50%; */
    border-bottom: 0;
    border-right: 0;
    position: relative;
    -webkit-box-shadow: inset 0 0 3px #fff;
}

.nav4 li:nth-of-type(1) {
    border-left;
    0;
}

.nav4 li > a {
    font-size: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border-bottom: 0;
    display: block;
    line-height: 45px;
    text-align: center;
    background: #44c696;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f1f1f1), to(#dcdcdc), color-stop(35%, #ededed), color-stop(50%, #e3e3e3));
}

.nav4 li > a:only-child span {
    background: none;
    padding-left: 0;
}

.nav4 li > a.on + dl {
    display: block;
}

.nav4 li > a span {
    color: #4f4d4f;
    display: inline-block;
    padding-left: 15px;
    /* background: url(imgs/1.svg#2) no-repeat 4px 18px; */
    -webkit-background-size: 9px auto;
}

/***********************/
.nav4 dl {
    display: none;
    position: absolute;
    z-index: 220;
    bottom: 45px;
    width: 100%;
    background: #e4e3e2;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 3px #fff;
    -webkit-background-size: 100%;
    background-size: 100%;
}

/*, .nav4 dl:after*/
.nav4 dl:before {
    content: "";
    display: inline-block;
    position: absolute;
    z-index: 240;
    bottom: 0;
    left: 50%;
    width: 10px;
    height: 8px;
    -webkit-background-size: 10px auto;
    bottom: -7px;
    margin-left: -5px;
}

.nav4 dl dd {
    line-height: 30px;
    text-align: center;
    border-bottom: 1px solid rgba(190, 190, 190, 1);
    border-left: 1px solid rgba(190, 190, 190, 1);
    border-right: 1px solid rgba(190, 190, 190, 1);

    background-size: 80% 1px;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.nav4 dl dd:first-child {
    border-top: 1px solid rgba(190, 190, 190, 1);
}

.nav4 dl dd:last-of-type {
    background: none;
}

.nav4 dl dd a {
    font-size: 15px;
    display: block;
    color: #4f4d4f;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav4 .masklayer_div {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 180;
    background: rgba(0, 0, 0, 0);
}

.nav4 .masklayer_div.on {
    display: block;
}
