<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.micro.rent.dbaccess.dao.SetRoleGroupDao">
    <resultMap id="BaseResultMap" type="com.micro.rent.dbaccess.entity.SetRoleGroup">
        <id column="RGROUP_ID" property="rgroupId" jdbcType="DECIMAL"/>
        <result column="RGROUP_CODE" property="rgroupCode" jdbcType="VARCHAR"/>
        <result column="RGROUP_NAME" property="rgroupName" jdbcType="VARCHAR"/>
        <result column="LAST_UPDATOR" property="lastUpdator" jdbcType="VARCHAR"/>
        <result column="LAST_UPDATE_TIME" property="lastUpdateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        RGROUP_ID, RGROUP_CODE, RGROUP_NAME, LAST_UPDATOR, LAST_UPDATE_TIME
    </sql>


    <select id="querySelectedResource" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
        SELECT
        SR.RGROUP_ID, SR.RGROUP_NAME
        FROM
        SET_ROLE_GROUP SR
        INNER JOIN
        SET_USER_RGROUP SRR
        ON
        SR.RGROUP_ID = SRR.RGROUP_ID
        WHERE
        SRR.USER_ID = #{userId}
    </select>


    <select id="queryCandidateResource" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
        <![CDATA[
  		SELECT 
  			RGROUP_ID, RGROUP_NAME 
  		FROM 
  			SET_ROLE_GROUP 
  			WHERE 
  			RGROUP_ID NOT IN 
  			(
			  	SELECT 
			        SR.RGROUP_ID
				FROM 
			        SET_ROLE_GROUP SR 
			        INNER JOIN 
			        SET_USER_RGROUP SRR
			        ON 
			        SR.RGROUP_ID = SRR.RGROUP_ID 
			        WHERE 
			        SRR.USER_ID = #{userId}
  			)
    ]]>
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from SET_ROLE_GROUP
    </select>

    <!-- 得到Sequences -->
    <select id="getSequences" resultType="java.lang.String">
        select SEQ_SET_RGROUP.nextVal from dual
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal">
        select
        <include refid="Base_Column_List"/>
        from SET_ROLE_GROUP
        where RGROUP_ID = #{rgroupId,jdbcType=DECIMAL}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
        delete from SET_ROLE_GROUP
        where RGROUP_ID = #{rgroupId,jdbcType=DECIMAL}
    </delete>
    <insert id="insert" parameterType="com.micro.rent.dbaccess.entity.SetRoleGroup">
        insert into SET_ROLE_GROUP (RGROUP_ID, RGROUP_CODE, RGROUP_NAME,
        LAST_UPDATOR, LAST_UPDATE_TIME)
        values (#{rgroupId,jdbcType=DECIMAL}, #{rgroupCode,jdbcType=VARCHAR}, #{rgroupName,jdbcType=VARCHAR},
        #{lastUpdator,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=TIMESTAMP})
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.micro.rent.dbaccess.entity.SetRoleGroup">
        update SET_ROLE_GROUP
        <set>
            <if test="rgroupCode != null">
                RGROUP_CODE = #{rgroupCode,jdbcType=VARCHAR},
            </if>
            <if test="rgroupName != null">
                RGROUP_NAME = #{rgroupName,jdbcType=VARCHAR},
            </if>
            <if test="lastUpdator != null">
                LAST_UPDATOR = #{lastUpdator,jdbcType=VARCHAR},
            </if>
            <if test="lastUpdateTime != null">
                LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where RGROUP_ID = #{rgroupId,jdbcType=DECIMAL}
    </update>
</mapper>
