<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.micro.rent.dbaccess.dao.SetRgroupFroleDao">
    <resultMap id="BaseResultMap" type="com.micro.rent.dbaccess.entity.SetRgroupFrole">
        <id column="RGROUP_ID" property="rgroupId" jdbcType="DECIMAL"/>
        <id column="FUNC_ROLE_ID" property="funcRoleId" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATOR" property="lastUpdator" jdbcType="VARCHAR"/>
        <result column="LAST_UPDATE_TIME" property="lastUpdateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        RGROUP_ID, FUNC_ROLE_ID, LAST_UPDATOR, LAST_UPDATE_TIME
    </sql>

    <delete id="deleteByGroupId" parameterType="java.math.BigDecimal">
        delete from SET_RGROUP_FROLE
        where RGROUP_ID = #{rgroupId,jdbcType=DECIMAL}
    </delete>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap"
            parameterType="com.micro.rent.dbaccess.entity.SetRgroupFroleKey">
        select
        <include refid="Base_Column_List"/>
        from SET_RGROUP_FROLE
        where RGROUP_ID = #{rgroupId,jdbcType=DECIMAL}
        and FUNC_ROLE_ID = #{funcRoleId,jdbcType=DECIMAL}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.micro.rent.dbaccess.entity.SetRgroupFroleKey">
        delete from SET_RGROUP_FROLE
        where RGROUP_ID = #{rgroupId,jdbcType=DECIMAL}
        and FUNC_ROLE_ID = #{funcRoleId,jdbcType=DECIMAL}
    </delete>
    <insert id="insert" parameterType="com.micro.rent.dbaccess.entity.SetRgroupFrole">
        insert into SET_RGROUP_FROLE (RGROUP_ID, FUNC_ROLE_ID, LAST_UPDATOR,
        LAST_UPDATE_TIME)
        values (#{rgroupId,jdbcType=DECIMAL}, #{funcRoleId,jdbcType=DECIMAL}, #{lastUpdator,jdbcType=VARCHAR},
        #{lastUpdateTime,jdbcType=TIMESTAMP})
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.micro.rent.dbaccess.entity.SetRgroupFrole">
        update SET_RGROUP_FROLE
        <set>
            <if test="lastUpdator != null">
                LAST_UPDATOR = #{lastUpdator,jdbcType=VARCHAR},
            </if>
            <if test="lastUpdateTime != null">
                LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where RGROUP_ID = #{rgroupId,jdbcType=DECIMAL}
        and FUNC_ROLE_ID = #{funcRoleId,jdbcType=DECIMAL}
    </update>
</mapper>
