<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.micro.rent.dbaccess.dao.UserGroupDao">
    <resultMap id="BaseResultMap" type="com.micro.rent.dbaccess.entity.UserGroup">
        <result column="USER_ID" property="userId" jdbcType="DECIMAL"/>
        <result column="RGROUP_ID" property="rgroupId" jdbcType="DECIMAL"/>
        <result column="USERNAME" property="userName" jdbcType="VARCHAR"/>
        <result column="RGROUP_NAME" property="rgroupName" jdbcType="VARCHAR"/>
        <result column="ORG_CODE" property="orgCode" jdbcType="VARCHAR"/>
        <result column="CHINESE_NAME" property="chineseName" jdbcType="VARCHAR"/>
        <result column="ENGLISH_NAME" property="englishName" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="CHAR"/>
        <result column="PASSWORD" property="password" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        USER_ID, RGROUP_ID, USERNAME, RGROUP_NAME, STATUS, PASSWORD,ORG_CODE
    </sql>

    <!-- 查询分页记录 -->
    <select id="queryPaged" parameterType="com.micro.rent.common.comm.nmybatis.Page" resultMap="BaseResultMap">

        select RGROUP_ID,RGROUP_NAME,USER_ID,USERNAME ,A.STATUS,PASSWORD,ORG_CODE
        ,TS.CHINESE_NAME ,TS.ENGLISH_NAME
        FROM (
        SELECT G.RGROUP_ID,G.RGROUP_NAME,U.USER_ID,U.USERNAME ,U.STATUS,U.PASSWORD,U.ORG_CODE
        FROM SET_ROLE_GROUP G , SET_USER U, SET_USER_RGROUP UR
        WHERE G.RGROUP_ID = UR.RGROUP_ID AND U.USER_ID = UR.USER_ID
        <if test="params.userName != null">
            AND U.USERNAME LIKE '%'||#{params.userName}||'%'
        </if>
        ) A left join T_SUPPLIER TS on A.ORG_CODE = TS.SUPPLIER_ID
        ORDER BY USER_ID DESC
    </select>

    <!-- 查询记录总数 -->
    <select id="queryTotalCount" resultType="int" parameterType="map">
        <![CDATA[
			SELECT COUNT(1) FROM SET_ROLE_GROUP G , SET_USER U, SET_USER_RGROUP UR 
			WHERE G.RGROUP_ID = UR.RGROUP_ID AND U.USER_ID = UR.USER_ID
		]]>
        <if test="userName != null">
            AND U.USERNAME LIKE '%'||#{userName}||'%'
        </if>
    </select>

</mapper>
