<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.micro.rent.dbaccess.dao.aboutus.CorpDao">

    <resultMap id="BaseResultMap" type="com.micro.rent.dbaccess.entity.aboutus.Corp">
        <id column="T_Corp_ID" property="tCorpId" jdbcType="VARCHAR"/>
        <result column="Corp_Name" property="corpName" jdbcType="VARCHAR"/>
        <result column="Corp_Addr" property="corpAddr" jdbcType="VARCHAR"/>
        <result column="representative" property="representative" jdbcType="VARCHAR"/>
        <result column="Corp_Phone" property="corpPhone" jdbcType="VARCHAR"/>
        <result column="Corp_Desc" property="corpDesc" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="baseCoumn">
        T_Corp_ID,Corp_Name,Corp_Addr,representative,Corp_Phone,Corp_Desc
    </sql>

    <select id="selectCorpInfo" resultMap="BaseResultMap">
        select
        <include refid="baseCoumn"/>
        from T_Corp
    </select>
</mapper>
